<form [formGroup]="mainForm"
  (ngSubmit)="onSubmit()"
>
    <div id="formContainer">
    <div>
      <label for="departureCity">From</label>
      <input type="text"
        name="departureCity"
        placeholder="Departure City"
        id="departureCity"
        formControlName="departureCity"
      >
    </div>

    <div>
      <label for="destinationCity">To</label>
      <input type="text"
        name="destinationCity"
        placeholder="Destination City"
        id="destinationCity"
        formControlName="destinationCity"
      >
    </div>



    <div>
      <label for="departureDate">Departure</label>

      <input type="date"
        name="departureDate"
        id="departureDate"
        formControlName="departureDate"
      >
    </div>

    <div *ngIf="mainForm.value.twoWay">
      <label for="returnDate">Return</label>

      <input type="date"
        name="returnDate"
        id="returnDate"
        formControlName="returnDate"
      >
    </div>

    <div>
      <label for="passengers">Passengers</label>

      <input type="number"
        name="passengers"
        id="passengers"
        formControlName="passengers"
      >
    </div>

    <button type="submit" name="search">Search</button>

    </div>
    <div id="checkboxDiv">
      <input type="checkbox"
        name="twoWay"
        id="twoWay"
        formControlName="twoWay"
      >
      Two-way flight
    </div>
</form>
