<form [formGroup]="mainForm"
  (ngSubmit)="onSubmit()"
>

    <div>
      <input type="text"
        name="departureCity"
        placeholder="Departure City"
        id="departureCity"
        formControlName="departureCity"
      >
    </div>

    <div>
      <input type="text"
        name="arrivalCity"
        placeholder="Arrival City"
        id="arrivalCity"
        formControlName="arrivalCity"
      >
    </div>

    <div>
      <input type="date"
        name="departureDate"
        placeholder="Departure Date"
        id="departureDate"
        formControlName="departureDate"
      >
    </div>

    <div>
      <input type="date"
        name="arrivalDate"
        placeholder="Arrival Date"
        id="arrivalDate"
        formControlName="arrivalDate"
      >
    </div>

    <button type="submit" name="search">Search</button>
</form>
