<form [formGroup]="mainForm"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <div id="formContainer">
    <div id="inputContainer">
      <div>
        <label for="departureCity">From</label>
        <input type="text"
          name="departureCity"
          placeholder="Departure City"
          id="departureCity"
          [formControl]="mainForm.controls['departureCity']"
        >
        <div *ngIf="(mainForm.controls['departureCity'].hasError('cityError') && mainForm.controls['departureCity'].dirty)" class="error"> 
          Enter capitalized city names
         </div>
        <div *ngIf="mainForm.controls['departureCity'].invalid && mainForm.controls['departureCity'].touched" class="error">
          Please fill out departure city
        </div>
      </div>

    <div>
      <label for="destinationCity">To</label>
      <div *ngIf="mainForm.controls['destinationCity'].hasError('cityError') && mainForm.controls['destinationCity'].dirty " class="error"> 
          Enter capitalized city names
      </div>
      <div *ngIf="mainForm.controls['destinationCity'].invalid && mainForm.controls['destinationCity'].touched" class="error">
          Please fill out destination city
      </div>
      <input type="text"
        name="destinationCity"
        placeholder="Destination City"
        id="destinationCity"
        [formControl]="mainForm.controls['destinationCity']"
      >
    </div>

    <div>
      <label for="departureDate">Departure</label>
      <div *ngIf="mainForm.controls['departureDate'].invalid && mainForm.controls['departureDate'].touched" class="error">
          Please fill out departure date
      </div>
      <input type="date"
        name="departureDate"
        id="departureDate"
        [formControl]="mainForm.controls['departureDate']"
      >
    </div>

    <div *ngIf="mainForm.value.twoWay">
      <label for="returnDate">Return</label>
      <div *ngIf="mainForm.controls['returnDate'].invalid && mainForm.controls['returnDate'].touched" class="error">
          Please fill out return date
      </div>
      <input type="date"
        name="returnDate"
        id="returnDate"
        [formControl]="mainForm.controls['returnDate']"
      >
    </div>

    <div>
      <label for="passengers">Passengers</label>
      <div *ngIf="mainForm.controls['passengers'].invalid && mainForm.controls['passengers'].dirty " class="error"> 
          Only digits
      </div>
      <input type="number"
        name="passengers"
        id="passengers"
        [formControl]="mainForm.controls['passengers']"
      >
    </div>

    <button type="submit" name="search" class="btn" [disabled]="!mainForm.valid">Search</button>

    </div>
    <div id="checkboxDiv">
      <input type="checkbox"
        name="twoWay"
        id="twoWay"
        [formControl]="mainForm.controls['twoWay']"
      >
      Two-way flight
    </div>
  </div>
</form>
