* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../background.jpg) no-repeat;
    background-size: cover;
    max-width: 100vw;
}

footer {
    background-color: #101010;
    color: #9d9d9d;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}